include LICENSE
include README.rst
recursive-include satchmo_tools/store *
recursive-include satchmo_tools/category_navigation *
recursive-include satchmo_tools/product_display *
recursive-include docs *
